header{
    background-color: #abc4ff;
    display: flex;
}

.menu {
    display: flex;

    label{
        display: none;
    }
    fas fa-align-justify {
        justify-content: center;
    }
}

.logo {
    imglogo {
        size: 50px, 60px;
        margin: 5px;
        padding: 5px;
    }
}
.login {
    label {
        display: none;
    }

}